/* import backgroundImage from '' */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: url("./assets/mountain-landscape-minimalist-wallpaper-2560x1600_7.jpeg"); 
  background-size: cover;
}

.App-header {
  /* background-color: #282c34;  */
  /* opacity: 0.2; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Parent-container{
  margin-top: 100px;
}

.Add-items{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  gap: 10px;
  margin-top: 10px;

}

.Add-input{
  flex: 1;
  font-size: 18px;
  padding-left: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.List-items{
  margin-top: 20px;
  text-align: left;
  height: 200px;
  overflow: scroll;
}

.Add-button{
  width: 80px;
  background-color: transparent;
  border: 1px solid salmon;
  color: salmon;
  border-radius: 10px;
  font-size: 16px;
}

.Add-button:hover{
  color: white;
  cursor: pointer;
}

.Edit-button{
  width: 50px;
  background-color: transparent;
  border: 1px solid salmon;
  color: salmon;
}

.Delete-button {
  width: 50px;
  background-color: transparent;
  border: 1px solid salmon;
  color: salmon;
}

.Edit-button:hover{
  background-color: white;
  cursor: pointer;
}
.Delete-button:hover{
  background-color: white;
  cursor: pointer;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
